<template>
  <main class="container text-white">
    <div class="pt-4 mb-8 relative">
      <input
        type="text"
        v-model="searchQuery"
        @input="getSearchResults"
        placeholder="Enter City/State Name"
        class="py-2 px-1 w-full bg-transparent border-b focus:border-weather-secondary focus:outline-none focus:shadow-md"
      />
      <ul class="absolute bg-weather-secondary text-white w-full shadow-md py-2 px-1 top-[66px]" v-if="searchResults">
        <p v-if="searchError">Sorry, something is wrong. Try again..</p>
        <p v-if="!searchError && searchResults.length === 0">Sorry, No results matching your query!</p>
        <!-- <Template v-else> -->
          <li v-for="searchResult in searchResults" :key="searchResult.id" class="py-2 cursor-pointer" @click="searchCity(searchResult)">
            {{ searchResult.place_name }}
          </li>
        <!-- </Template> -->
      </ul>
    </div>
    <div class="flex flex-col gap-4">
      <Suspense>
        <CitiesList/>
        <template #fallback>
          <CityCardSkeleton />
        </template>
      </Suspense>
    </div>
  </main>
</template>

<script setup>
import { ref } from "vue";
import axios from 'axios';
import { useRouter } from "vue-router";
import CitiesList from "../components/CitiesList.vue";
import CityCardSkeleton from "../components/Placeholder/CityCardSkeleton.vue";

const apiKey = "pk.eyJ1IjoibXVoYW5uZWR6byIsImEiOiJjbGFqb24yNWYwMDh1M29ydGRvenp3cW1xIn0.4f9Yrd9xIdl4TWbPHqEpz";
const searchQuery = ref("");
const queryTimeOut = ref(null);
const searchResults = ref(null);
const searchError = ref(null);

const router = useRouter();
const searchCity = (searchResult) => {
    const [city, state] = searchResult.place_name.split(",");
    // console.warn(city, state);
    router.push({
      name: "cityView",
      params: {city: city, state: state.replaceAll(" ","")},
      query: {
        lng: searchResult.geometry.coordinates[0],
        lat: searchResult.geometry.coordinates[1],
        preview: true,
      },
    });
}

const getSearchResults = () => {
  clearTimeout(queryTimeOut.value);
  queryTimeOut.value = setTimeout(async () => {
    if(searchQuery.value !== ""){
      try{
        const result = await axios.get(`https://api.mapbox.com/geocoding/v5/mapbox.places/${searchQuery.value}.json?access_token=${apiKey}&types=place`);
        searchResults.value = result.data.features;
        console.warn(searchResults.value);
      }catch {
        searchError.value = true;
      }
      return;
    }
    searchResults.value = null;
  },300);
}

</script>
